.container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--header-bar);
  padding: 10px;
  -webkit-app-region: drag;
}

.options-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.options-right {
  display: flex;
  position: absolute;
  justify-content:center;
  flex-direction: row;
  gap: 10px;
  top: 13px;
  right: 10px;
  -webkit-app-region: no-drag;
}

.options-right img{
  filter: brightness(0) invert(1);
  width: 20px;
  height: 20px;
}

.options-right .menu.selected {
  background-color: var(--button-color);
}

.options-right button:hover{
  background-color: var(--hover-color);
}

.options-right button {
  display: flex;
  justify-content:center;
  border-radius: 10px;
}

.menu {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 30px;
  align-items: center;
  padding: 0;
  height: 27px;
  background: transparent;
  -webkit-app-region: no-drag;
}

.menu img {
  width: 17px;
  height: 17px;
}


.options-container button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  font-family: var(--default-font);
  -webkit-app-region: no-drag;
  width: 90px;
  height: 34px;
  padding: 12px;
  background: transparent;
}


.options-container img{
  filter: brightness(0) invert(1);
  width: 24px;
  margin-right: 5px;
}

.options-container button:hover {
  background-color: var(--hover-color);
}

.options-container .active{
  background-color: var(--hover-color);
}


.exit {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  -webkit-app-region: no-drag;
  width: 30px;
  height: 30px;
}

.exit img {
  width: 18px;
}
