.container{
  background-color: #303030;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 90%;
}

.options-container{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 10px;
}

.options-container button{
  font-size: 18px;
}

.active{
  background-color: var(--accent-color);
}

.settings{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
