.screen{
  width: 100vw;
  height: 100vw;
  position: fixed;
  z-index: 1000;
}
.container{
  border-radius: 5px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 500px;
  background: var(--bg-color);
}

.h-center{
  display: flex;
  justify-content: center;
}

.m{
  margin: 10px;
}
