<app-leftbar></app-leftbar>

<div class="container">
  <table>
     <tr>
      <th class="table-header">Item</th>
      @for (item of items(); track $index) {
            <td style="display: flex;flex-direction: row;justify-content: left">
            @if (item.img) {
              <img [ngSrc]="item.img" width="20" height="20" style="float: left;margin-right: 5px">
            }
             <span >{{ item.displayName }}</span>
            </td>
      }
     </tr>
    <tr>
      <th class="table-header">Count</th>
      @for (item of items();track $index) {
        <td>{{ item.count }}</td>
      }
    </tr>
  </table>
</div>
