<app-topbar></app-topbar>

<div class="container">
@if (items().length > 0 && started()) {
  <div class="item-list">
    @for (item of items(); track $index) {
      <div animate.enter="enter-animation" class="item-row">
        @if (item.img) {
          <img [ngSrc]="item.img" width="32" height="32">
        }
        <span class="item-name">{{ item.displayName }}</span>
        <span class="item-count">{{ item.count }}</span>
        <button (click)="onDrop(item.name)" title="Drop {{ item.displayName }}"><img src="close.svg"></button>
      </div>
    }
  </div>
}@else{
  <div class="nothing">
    <img style="border-radius: 10px" src="404.png">
    <span style="margin-top: 5px">No loot to show!</span>
  </div>
}

</div>
