<app-topbar></app-topbar>

<div class="bot-state-container">
  <img style="margin: 5px;border-radius: 5px" src="{{ botSkinData().texture }}">
  <div class="left">
    <span >{{ botSkinData().username }}</span>
    <span animate.enter="enter-animation" [class.green]="started()" [class.red]="!started()" style="font-size: 25px;display: flex;flex-direction: column">
      @if (started()) {
        Running
      }@else {
        Stopped
      }
    </span>
    <span animate.enter="enter-animation"  style="color: var(--text-muted)">Task: {{ currentBotTask() }}  </span>
  </div>
  <div class="right">
    <button [class.started]="started() == true" [class.stopped]="started() == false" (click)="onStart()">
      @if (started()) {
        Stop
      } @else {
        Start
      }
    </button>
  </div>
</div>

<div class="log-container">
  <app-chat-log (command)="onCommand($event)"></app-chat-log>
</div>
