<app-topbar></app-topbar>

<div class="bot-state-container">
  <div class="left">
    @if (botSkinData().texture) {
      <img class="skin-img" src="{{ botSkinData().texture }}">
    }@else {
      <img class="skin-img" src="404.png">
    }
    <div class="bot-info">
      <span style="font-size: 24px">{{ botSkinData().username }}</span>
      <span animate.enter="enter-animation" [class.green]="started()" [class.red]="!started()" style="font-size: 24px;display: flex;flex-direction: column">
        @if (started()) {
          Running
        }@else {
          Stopped
        }
      </span>
      <span animate.enter="enter-animation"  style="color: var(--text-muted)">Task: {{ currentBotTask() }}  </span>
    </div>
  </div>
  <div class="right">
    <button [class.started]="started() == true" [class.stopped]="started() == false" (click)="onStart()">
      @if (started()) {
        Stop
      } @else {
        Start
      }
    </button>
  </div>
</div>

<div class="log-container">
  <app-chat-log></app-chat-log>
</div>
