<app-topbar></app-topbar>
<!--<app-alert></app-alert>-->

<div class="bot-state-container">
  <div class="left">
    <span animate.enter="enter-animation" style="color: var(--text-muted)">Bot Status </span>
    <span animate.enter="enter-animation" style="font-size: 25px">
      @if (started()) {
        Active
      }@else {
        Stopped
      }
    </span>
    <span animate.enter="enter-animation"  style="color: var(--text-muted)">Task: {{ currentBotTask() }}  </span>
  </div>
  <div class="right">
    <button [class.started]="started() == true" [class.stopped]="started() == false" (click)="onStart()">
      @if (started()) {
        Stop
      } @else {
        Start
      }
    </button>
  </div>
</div>

<span style="color: var(--text-muted);margin-bottom: -10px;margin-top: 10px">Logs</span>
<div class="log-container">
  <app-chat-log (command)="onCommand($event)"></app-chat-log>
</div>
