<app-topbar></app-topbar>

<div class="container">
  <h1 class="h-center">General Bot Settings</h1>
  <div class="settings">
    <form [formRoot]="settingsForm">
      <div>
        <label for="mode">Mode:</label>
        <br>
        <select id="mode" [formField]="settingsForm.auth" (change)="saveBotGeneralSettings()">
          <option value="offline">offline</option>
          <option value="microsoft">online</option>
        </select>
      </div>
        <br>
      <div>
        <label for="version">Version:</label>
        <br>
        <select id="version" [formField]="settingsForm.version" (change)="saveBotGeneralSettings()">
          @for (version of versionData(); track $index) {
            <option [value]="version">{{ version }}</option>
          }
        </select>
      </div>
        <br>
      <div>
        <label for="port">Port:</label>
        <br>
        <input id="port" [formField]="$any(settingsForm.port)" placeholder="25565" (change)="saveBotGeneralSettings()">
      </div>
        <br>
      <div>
        <label for="username">Username:</label>
        <br>
        <div>
          <input id="username" [formField]="settingsForm.username" [class.error]="settingsForm.username().value() == ''" (change)="saveBotGeneralSettings()">
          <div class="error-container">
            @for (error of settingsForm.username().errors(); track $index) {
              <span class="error">{{ error.message }}</span>
            }
        <br>
          </div>
        </div>
      </div>
      <div>
        <label for="host">Server:</label>
        <div>
          <input id="host" [formField]="settingsForm.host" spellcheck="false" [class.error]="settingsForm.host().value() == ''" (change)="saveBotGeneralSettings()">
          <div class="error-container">
            @for (error of settingsForm.host().errors(); track $index) {
              <span class="error">{{ error.message }}</span>
            }
          </div>
        </div>
      </div>
    </form>
  </div>
  <!--
  <h1 class="h-center">Bot Action Settings</h1>
  <div class="settings">
    Start Fishing On Start
    <input style="float: right" type="checkbox">

  </div>
  -->
</div>
